:root{

    --btnColor: rgb(110, 16, 16);
    --dividerColor: rgb(110, 16, 16);
    --textColor: rgb(110, 16, 16);

}


body{
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;

}

.pizzaSection{
    width: 100%;
}


.dividerContainer{
    margin-top: 80px;
}

/* ============= Divider  ===========  */

.divider1{
    width: 100%;
    background-color: var(--dividerColor);
    height: 2px;
    margin: 10px;

}
.divider2{
    width: 100%;
    background-color:  var(--dividerColor);
    height: 4px;
    margin: 10px;
}



.App {

text-align: center;
color: black;
margin: 0px auto;
padding: 10px;
width: 100%;

}


.mobileMenu {
    display: none;
}

/* ============= Navbar  ===========  */
.navBarBackground{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
}

.navBar{

    background-color: #ffffff;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.navBar li{
    position: relative;
    transition: 0.3s;
}

.navBar .nav-items{
    display: flex;
    flex-direction: row;
    gap:20px;

}

.navBar  li a{
    color: rgb(110, 16, 16);
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
    padding:4px 8px;
    border-right: 1px solid rgb(110, 16, 16);
    border-left: 1px solid rgb(110, 16, 16);
    

}

.navBar li a:hover{
    padding:4px 8px;
    background-color: rgb(110, 16, 16);
    color: white;
    border-right: 1px solid rgb(110, 16, 16);
}


.logo{
    display: flex;
    align-items: center;
    gap:5px;
}

.logo img{
    width: 20px;
    height: 20px;
}
.logo p {
    padding: 0;
    margin: 0;
    color: var(--textColor);
    font-weight: 800;
}

.cartContainer{
    display: flex;
    gap:10px;
}
.cartContainer p {
    font-weight: bold;
}

/* ============= Header  ===========  */

.cover{
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    
}

.headerContainer{
    position: relative;
    background-image: url('./Images/pizzaWallpaper1.jpg');
    background-clip: border-box;
    background-size:cover;
    background-repeat:no-repeat;
    height: fit-content;
    width: 100%;
    padding:100px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;

}

.headerContainer h2{
    color: rgb(248, 248, 248);
    font-size: 80px;
    font-weight: 900;
    text-shadow: 2px 2px 20px rgb(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px rgb(110, 16, 16);

    
}
.headerContainer h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 900;
}

.headerContainer .header-left p {
    color: white;
}
.header-left  button{
    color:white;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 20px;
    background-color: var(--btnColor);
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

.header-left button:hover{
    background-color: white;
    color: rgb(110, 16, 16);
    border: 2px solid rgb(110, 16, 16);;
}
.header-left{
    text-align: left;
    padding: 20px;
    animation: moveHeader 1.5s;
  
}

.header-left p {
    font-size: 12px;
    margin-top: 10px;
}

span{
    display: block;
}

.pizza1 img{
    width: 400px;
    
}

.headerContainer img{
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.5);
}

.logo{
    color: red;
    font-weight: 900;
}

li{
    list-style: none;
}



/* ============= Pizza Section  ===========  */


.foodContainer h1{
    font-size: 20px;
}

.foodContainer .card-body p:first-child{
    font-size: 16px;
}

.foodContainer{
    position: relative;
    padding: 10px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #ffffff solid 2px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: white;
}


.foodContainer img{
    width: 200px;
    height: 100%;
    object-fit: cover;
    
}

.foodContainer p:first-child{
    color: black;
    font-size: 20px;
    font-weight: bold;

}

.foodContainer p:nth-child(2){
    color: black;
    font-size: 14px;
    font-weight: light;

}
.pizzaPrice{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 50%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: rgb(153, 0, 0) solid 1px;

}
.foodCardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: fit-content;


}

.card{
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.2);
    transition: 0.3s;
}


.searchFormContainer{
    max-width: 300px;
    margin: 100px auto;
}

.vegPizzaContainer{
    margin-top: 100px;
}
.vegLinkContainer{
    display: flex;
    align-items: center;
    gap:20px;
}

.vegLinkContainer a{
    text-decoration: none;
    color: rgb(211, 80, 80);

}

.vegLinkContainer p {
    font-size: 40px;
    font-weight: 900;
}


.vegContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.cheeseyContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}


.card img{
    width: 200px;
    height: 150px;
}

.popularCards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

h2{
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    margin-top: 40px;

}

.dessertContainer .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 20px;
    width: 200px;
    transition: 0.3s;
}

.dessertContainer{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: fit-content;
    gap: 20px;

}

.dessertCards{
    display: flex;
    
}

.dessertCards button{
    background-color: white;
    color: var(--textColor);
    border: 1px solid var(--btnColor);
}

.dessertCards .card p:nth-child(2){
    font-size: 12px;

}

.dessertContainer .active{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    animation: moveSection 1s ;
}

/* ============= Menu Section  ===========  */



.menuPageContainer{
    width: 100%;
}
.menuContainer {
    margin-top: 100px;
    text-align: left;
    max-width: 700px;
}

.menuTitle p {
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    margin-top: 50px;
    width: 100%;
}

.bottomMenu{
    display: flex;
    margin-top: 40px;

}
.menu img{
    width: 150px;
    border-radius: 8px;
}

.menu-body h6{
    font-weight: bold;
}

.menu-body{
    width: 100%;
    padding: 0px 20px;
}

.menu-body p {
    font-size: 14px;
}

.title-price p{
    color: white;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--textColor);

}
.menuContainer h4{
    font-weight: 900;
    text-align: left;
    font-size: 40px;

}
.menuBottomContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;


}

.menu-body button{
    background-color: white;
    border: 1px solid var(--btnColor);
    color: var(--textColor);
    padding: 4px 10px;
    transition: 0.3s;
}
.menu-body button:hover{
    background-color: var(--btnColor);
    border: 1px solid white;
    color: white;
    padding: 4px 10px;
}



.card-body  button{
    background-color: white;
    border: 1px solid var(--btnColor);
    color: var(--textColor);
    padding: 4px 10px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
.card-body button:hover{
    background-color: var(--btnColor);
    color: white;
    padding: 4px 10px;

}

.card-body p:nth-child(1){
    font-weight: bold;
}

.pizzaSection hr{
    width: 100%;
    margin-top: 20px;
}

.title-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.showMoreBtn{
    border: none;
    color:  var(--btnColor);
    text-align: center;
    margin: 0px auto;
    background-color: #fff;
}

.homeContainer{
    padding: 0;
    width: 100%;
}


/*==================== Admin Container   ========================= */

.adminContainer{
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.adminContainer h2{
    margin: 10px;
}
.adminContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adminContainer .form-control{
    border: 1px solid #808080;
}

.btn{
    background-color: var(--btnColor);
    border: 1px solid var(--btnColor);
    transition: 0.3s;
}
.btn:hover{
    background-color: white;
    color: rgb(110, 16, 16);
    border: 1px solid var(--btnColor);

}
.pizzaTableContainer{
    width: 100%;
    margin: 100px auto;
}

table{
  
    width: 100%;
    margin: auto;
    gap: 40px;
}
table thead tr th{
    text-align: center;
    margin: auto;
    text-align: center;
    background-color: var(--btnColor);
    color: white;
    padding: 10px;
}

table tbody tr td{
    font-size: 14px;
}
table tr td{
    border: #b4b4b4 solid 1px;
}

table tr td:hover{
    background-color: yellow;
}
.productListContainer{
    width: 100%;
}

/*==================== Footer  ========================= */

footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p{
    margin-top: 100px;
}



/*==================== Mobile View   ========================= */


@media screen and (max-width: 760px) {

    table{
        width: 100%;
        border-collapse: collapse;
    }
    .pizzaTableContainer{
        height: 100%;
    }

    .tableDivider{

        height: 20px;
        border: none;
        margin: 4px;
    }

    table , thead , tbody , th ,td ,tr {
        display: block;
    }
    thead tr{
       display: none;
    }

    td{
        border: none;
        border-bottom: 1px solid #000;
        position: relative;
        padding-left: 50%;
    }

    td::before{
        border: none;
        top: 2px;
        left: 6px;
        width: 45%;
        position: absolute;
        padding-right: 10%;
        white-space: nowrap;
        background-color: var(--btnColor);
        color: white;
        padding: 0px;
    }
    td:nth-of-type(1):before 
    { 
        content: "ID";
    }
    td:nth-of-type(2):before 
    { 
        content: "Product Name";
    }

    td:nth-of-type(3):before 
    { 
        content: "Price";
    }
    td:nth-of-type(4):before 
    { 
        content: "Description";
    }
    td:nth-of-type(5):before 
    { 
        content: "Quantity";
    }




    .productListContainer{
        max-width: 600px;
    }
    .App{
        position: relative;
    }
    
    .nav-items hr{
        color: white;
        width: 200px;
    }

    .hamburgerMenuContainer{
        position: absolute;
        visibility: visible;
        top: 10px;
        right: 20px;
    }

    .mobileMenu.active{
        background-color: rgb(110, 16, 16);;
        width: 100%;
        height: fit-content;
        padding: 40px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: openMobileMenu 0.5s  ;
    }

    .mobileMenu{
        animation: closeMobileMenu 1s  ;
      
    
    }

    .mobileMenu ul {
        padding: 0;
        gap: 20px;
    }
    .mobileMenu ul li a {
        text-decoration: none;
        color: white;
    }
    .mobileMenu li {
        margin-top: 20px;
    }
    
    .box1 , .box2 , .box3{
        width: 50px;
        height: 4px;
        background-color: black;
        margin-top: 10px;
        border-radius: 8px;
        transition: 0.3s;
    }

    .box2.active{
        visibility: hidden;
        opacity: 0;
    }

    .box1.active{
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left:10;
    }
    .box3.active{
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
        left:10;
    }


    .header-left {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .navBar {
        visibility: hidden;
    }

    h2{
        text-align: center;
    }

    .vegLinkContainer h2{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .vegPizzaContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .dessertContainer , .vegContainer , .popularCards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
    }
    .adminContainer{
        margin-top: 80px;
    }


}

/*==================== Animation  ========================= */

@keyframes moveSection {

    0% {
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes openMobileMenu {

    0% {
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes moveHeader {

    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
    
}


